<%= form_with(model: @post, local: true) do |post_form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> forbid
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= post_form.label :title %><br>
    <%= post_form.text_field :title %>
  </p>
  <p>
    <%= post_form.label :content %><br>
    <%= post_form.text_area :content %>
  </p>
  <p>
    <%= post_form.label :datetime %><br>
    <%= post_form.datetime_select :datetime %>
  </p>
  <p>
    <%= post_form.label 'Tags' %><br>
    <%= post_form.text_field(:tag_list, parse: true, value: @post.tag_list.join(', ')) %>
  </p>
  <p>
    <%= post_form.submit %>
  </p>
<% end %>