<h1>Blog App</h1>

<%= link_to('Create a new post', new_post_path) %>

<br>
<%= link_to('Sign out', destroy_user_session_path , method: :delete ) if user_signed_in? %>
<br>

<h2>Post List</h2>

<table>
	<tr>
		<th>Title</th>
		<th>Content</th>
		<th>Date</th>
	</tr>
 
	<% @posts.each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.content %></td>
			<td><%= post.datetime %></td>
			<td><%= link_to 'Show', post_path(post) %></td>
			<td><%= link_to 'Edit', edit_post_path(post) %></td>
			<td><%= link_to 'Delete', post_path(post), method: 
			:delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', root_path %>