<p>
	<strong>Title:</strong>
	<%= @post.title %>
</p>
 
<p>
	<strong>Content:</strong>
	<%= @post.content %>
</p>

<p>
	<strong>Date:</strong>
	<%= @post.datetime %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |post_comment| %>
	<p>
		<strong>Nick:</strong>
		<%= post_comment.nick %>
	</p>
 
	<p>
		<strong>Comment:</strong>
		<%= post_comment.content %>
	</p>

	<p>
		<strong>Datetime:</strong>
		<%= post_comment.datetime %>
	</p>
  <p>
	<%= link_to 'Delete Comment', [@post, post_comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>	
<% end %>


<h2>Add comment</h2>
<%= form_with(model: [@post, Comment.new], local: true) do |post_comments_form| %>
	<p>
		<%= post_comments_form.label :nick %><br>
		<%= post_comments_form.text_field :nick %>
	</p>
	<p>
		<%= post_comments_form.label :comment %><br>
		<%= post_comments_form.text_area :content %>
	</p>
	<p>
		<%= post_comments_form.label :datetime %><br>
		<%= post_comments_form.datetime_select :datetime %>
	</p>
	<p>
		<%= post_comments_form.submit %>
	</p>
<% end %>


<p>
	<%= link_to 'Back', controller: 'posts' %>
</p>